{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}  
{% block title %}<title>Get Started</title> {% endblock %}
{% block content %}
  <h1 class='title'>Tiny Organics recipe finder</h1>
 
    <form class='container' method='POST' novalidate>
      {% csrf_token %}
      <p class='form-text'>please enter information below to find recommended recipes for your baby</p>
      {{ form|crispy }}
    <div class="form-group pt-3">
      <button class="btn btn-outline-primary" type="submit">Find recipes!</button>
    </div>
  </form>
</>
{% endblock content %}